
html {
    font: 500 14px 'roboto';
    color: #333;
    background-color: #fafafa;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#demo {
    width: 300px;
    margin: 150px auto;
}
p {
    margin: 0;
}
#dt {
    margin: 30px auto;
    height: 28px;
    width: 200px;
    padding: 0 6px;
    border: 1px solid #ccc;
    outline: none;
}
