<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/highcharts.js" type="text/javascript"></script>
    <script src="/js/exporting.js" type="text/javascript"></script>
    <script src="/js/highcharts-zh_CN.js" type="text/javascript"></script>
    <script src="/js/jquery-1.8.3.min.js" type="text/javascript"></script>

    <script src="/js/query.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            setPie("containerPie", "/pie");
            setPie("containerPie2", "/pie");
            setLine("containerLine","/line")
            setColumn("containerColumn","/column")
        });
    </script>
</head>
<body>
<h1>this is monitor</h1>

<div style="width:auto;height: 400px">
    <div id="containerLine" style="min-width: 310px; height: 400px; width: 50%; margin: 0 auto;float:left"></div>
    <div id="containerColumn" style="min-width: 310px; height: 400px; width: 50%; margin: 0 auto;float:left"></div>
</div>
<div style="width:auto;height: 400px">
    <div id="containerPie" style="min-width: 310px; height: 400px; width: 50%; margin: 0 auto;float:left"></div>
    <div id="containerPie2" style="min-width: 310px; height: 400px; width: 50%; margin: 0 auto;float:left"></div>
</div>

</body>
</html>